.hero img {
    display: block;
    float:right;
    width: 100%;
    height: auto;
    padding: 10px;
    object-fit: cover;
    
}

.navigation {
	display: flex;
	list-style: none;
}

#pk {
    /*position: fixed;*/
    position: absolute;
    float: unset;
    bottom: 4px;
    left: 100px;
    background-color: aliceblue;
    border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
    box-sizing: content-box;
	opacity: 0.6;
}



/*    float: right;
    background-color:aqua;
    opacity: 0.04;
}*/

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 30px;
	text-decoration: none;
}
header {
	margin: 3rem auto;
	display: grid;
	grid-template-columns: 400px 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

.flexbox-container {
    background-color: #dfdfdf;
    display: flex;
    flex-direction: row;
    justify-content:  space-around;

}


.flexbox-item {
        width: 260px;
        margin: 5px;
        background-color: #dfdfdf;
    }

.flexbox-item-1 {
        min-height: 100px;
}

.flexbox-item-2 {
    min-height: 200px;
}

.flexbox-item-2 {
    min-height: 300px;
}


.flexbox-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.flexbox-item-footer {
    width: 260px;
    margin: 5px;
}


.flexbox-item-footer-1 {
    min-height: 100px;
    align-self: flex-end;
}


footer {

	display: flex;
	justify-content: flex-end;
	align-items: end;
}

.imagen_full {
    width: 100%;
}

figcaption {
    background-color: aliceblue;
    position: absolute;
}

.p_purpose {
 font-size: x-large;
}

.flex_section{
    flex-direction: column;
    border: 10px;
}

.flexbox-container-trip {
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
}